{% extends "BlogBundle::layout.html.twig" %}

{% block title %}О нас{% endblock %}

{% block body %}
<h1>Страница о нас - </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent sodales laoreet nunc nec ullamcorper.
        Proin fringilla quam dictum enim scelerisque congue.
        Fusce et tincidunt nibh.
        Donec rutrum lorem non diam porttitor facilisis.
        Nam dignissim lacus sed blandit lacinia.
        Suspendisse nec dolor consectetur, mollis turpis eget, hendrerit nisi.
        Pellentesque dui ante, placerat a fringilla vitae, viverra et nisi.
        Nunc ornare ornare ex ut consequat.
        Quisque sed posuere elit.
        Nunc gravida nisl sed risus auctor commodo.
        Morbi turpis diam, pretium nec fermentum sit amet, tempus a elit. Nunc ac volutpat dui.
    </p>

    <p>
        Fusce sapien tellus, ullamcorper quis pellentesque et, euismod venenatis metus.
        Maecenas pulvinar risus a turpis accumsan aliquet. Duis vel augue nisi.
        Donec eget hendrerit velit, in commodo lorem.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Donec eget purus id metus sollicitudin ultrices.
        Donec orci enim, porttitor id vulputate et, elementum eget dui.
    </p>

    <p>
        Proin vel sem condimentum, aliquam nibh a, tristique tellus.
        Duis id lacus in tortor dignissim congue.
        Nunc ut arcu turpis.
        Aliquam erat volutpat. In egestas metus ac ullamcorper faucibus.
        Sed a turpis a nisl lacinia commodo. Morbi ac dui sem.
        Nunc auctor nisi aliquam dolor faucibus, eget tristique tellus maximus.
        Maecenas finibus est non libero interdum semper.
        Fusce vel sagittis enim.
    </p>
{% endblock %}
