{% extends "BlogBundle::layout.html.twig" %}

{% block title %}Контакты{% endblock %}

{% block body %}
<h1>Страница контактов - </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus dolor.
        Maecenas scelerisque placerat ante, eu fermentum neque sagittis sit amet.
        Pellentesque sagittis malesuada ipsum nec consequat.
        Vivamus condimentum sit amet felis venenatis commodo.
        Ut sollicitudin tellus tortor, id facilisis ligula pellentesque ut.
        Aenean placerat purus mauris, ut sodales quam ultrices eleifend.
        Donec varius in felis id imperdiet.
        Donec nibh sapien, molestie et mollis non, lobortis sit amet sapien.
        Fusce non dui ante. Nunc at interdum enim.
        Fusce gravida in odio tristique euismod. Cras finibus eget diam eleifend iaculis.
        Aliquam quis dignissim nulla. Nullam gravida rhoncus ipsum ut aliquet.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    </p>
    <p>
        Fusce pretium mi id ex dignissim, et dignissim magna mattis.
        Curabitur vel risus vitae mi cursus viverra.
        Nam rhoncus pulvinar nisi, ac faucibus purus eleifend sit amet.
        Nunc id sodales odio, et suscipit magna.
        In dictum lacinia odio, a ornare neque consequat at.
        Fusce gravida congue accumsan.
        Sed lacus nunc, fringilla vel felis quis, egestas facilisis lacus.
        Curabitur luctus magna neque, et aliquam urna scelerisque nec.
        Vestibulum a commodo ante, id semper ligula.
        Duis ullamcorper mi vitae dui varius, a fringilla risus accumsan.
    </p>
{% endblock %}
