{% extends "BlogBundle::layout.html.twig" %}

{% block title %}Symfony mini site{% endblock %}

{% block body %}
    <h1>Последние новости</h1>

    {% for article in news %}
        <article>
            <h2><a href="{{ path('item', {id: article.id}) }}">{{ article.getTitle() }}</a></h2>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <span class="glyphicon glyphicon-folder-open"></span> &nbsp;<a href="#">CATEGORY_NAME</a>
                    &nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> <a href="#">TAG_1</a>, <a href="#">TAG_2</a>, <a href="#">TAG_3</a>
                </div>
                <div class="col-sm-6 col-md-6">
                    <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">0 COMMENTS_SECTION</a>
                    &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> {{ article.getCreatedAt()|date('F j, Y g:i A') }}
                </div>
            </div>

            <hr>

            {#<img src="http://placehold.it/900x300" class="img-responsive">#}

            <br />

            <p class="lead">{{ article.getContent()|slice(0, 1400)|raw }}</p>

            <p class="text-right">
                <a href="#">
                    Перейти к статье...
                </a>
            </p>

            <hr>
        </article>
    {% else %}
        <li>Сообщений не найдено</li>
    {% endfor %}



    <ul class="pager">
        <li class="previous"><a href="#">&larr; Туда</a></li>
        <li class="next"><a href="#">Сюда &rarr;</a></li>
    </ul>

{% endblock %}

