{% extends "BlogBundle::layout.html.twig" %}

{% block title %}BlogBundle:News:item{% endblock %}

{% block body %}
    <h1>{{ news.title }}</h1>
    <p>{{ news.content| raw }}</p>
    <p>Категория новости:</p>
    <p>{{ news.categories.name }}</p>
{% endblock %}
